@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../tali/img/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}
#cta {
    background-image:url('../tali/img/bg-simplify-section-desktop.svg') ;
}

@media (max-width:576px) {
    body {
        background-position: 50px -50px;
        background-size: 500px;
    }

    #cta {
        background-image: url('../tali/img/bg-simplify-section-mobile.svg');
    }
}

/* hamberger menu */
#menu-btn {
    position: absolute;
    right: 20px;
    top:30px;
}
.humberger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  
}

.hum-top ,.hum-mid ,.hum-bot{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform-origin: rotate(0);
    transition: all 0.5s;
}
.hum-mid {
    transform: translateY(7px);
}
.hum-bot {
   transform: translateY(14px);
  
}
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hum-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hum-mid {
    display: none;
}

.open .hum-bot{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}